//variable overrides (these affect the app as a whole):

$base-color: #f4aa00; //The orangey color
$wttft-orange: #f4aa00; 
$wttft-orange-dark: #ef8200; 
$wttft-green: #bed600;
$wttft-green-dark: #77b800;
$wttft-blue: #a0dae8;
$wttft-blue-dark: #6dc6e7;
$active-color: #FFFFFF; //White active colors
$base-gradient: 'flat';


//List overrides (these affect the list views, such as browse/find)

$list-active-color: #fce122; //the yellow color on list itemtap
$list-header-bg-color: $base-color; //the grouping headers -- set to the be identical to the $base-color variable.

$include-border-radius: false;

// Importing our custom web font.
@font-face {
  font-family: 'DIN Bold';
  src: url('../fonts/DINBold.ttf');
}

$font-family: Arial, sans-serif !default;

//-----------------------------------------------Default Sencha Imports Go Here-----------------------------------------------------------------------

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
//@include sencha-form;
//@include sencha-msgbox;



//-----------------------------------------------Custom includes go here-----------------------------------------------------------------------

//imports _buttons.scss file that contains all button component css.
@import 'include/buttons';

//icon images
@include pictos-iconmask('phone1');
@include pictos-iconmask('search2');
@include pictos-iconmask('delete');

//toolbar and tabbar ui's

@include sencha-toolbar-ui('findHelp', $base-color, 'flat');
@include sencha-tabbar-ui('findHelp', $base-color, 'flat', $active-color);

@include sencha-toolbar-ui('callTeenLink', $wttft-green); //darken(#78FF0A, 10), 'matte');
@include sencha-tabbar-ui('callTabBar', $wttft-green, 'flat', $active-color); //darken(#78FF0A, 10), 'matte', $active-color);

@include sencha-toolbar-ui('aboutTeenLink', $wttft-blue);
@include sencha-tabbar-ui('aboutTabBar', $wttft-blue, 'flat', $active-color);





//-----------------------------------------------Custom css goes here-----------------------------------------------------------------------

//set the title in the toolbar above the listview to be a white color with a gray text-shadow color.
.x-toolbar-findHelp .x-title, .x-toolbar-callTeenLink .x-title, .x-toolbar-aboutTeenLink .x-title {
	font-size: 1.6em;
	font-family: 'DIN Bold', sans-serif;
	font-weight: normal;
	line-height: 1.6em;
	color: #fff;
}

.x-toolbar-findHelp .x-title {
	@include text-shadow($wttft-orange-dark 0.1em -0.1em 0.05em);
}

.x-toolbar-callTeenLink .x-title {
	@include text-shadow($wttft-green-dark 0.1em -0.1em 0.05em);
}

.x-toolbar-aboutTeenLink .x-title {
	@include text-shadow($wttft-blue-dark 0.1em -0.1em 0.05em);
}

.x-button-label {
	color: #fff;
}

//home screen css -- adding the grid-like background to the panel !important because some responsive layouts override this override..
.homePanel {
	background: url("../images/wttft-homescreen-large.png") no-repeat center !important;
}

//applies the gridlike background to the about and call pages
.aboutPanel, .callPanel {
	background: url("../images/background.png") no-repeat center;
}

//The WHERE to TURN for TEENS text on the home page
.homePanel .x-html h1, .homeTitlePanel {
	color: #993f98;
	font-size: 45px;
	font-weight: bolder;
	font-family: 'DIN Bold', sans-serif;
	text-align: right;
	text-shadow: 2px 2px 2px black;
	padding-right: 5px;
}

//Provides the transparent white background behind paragraph text on the home
.homeDescription p {
	font-size: 13px;
	text-align: justify;
	background: rgba(255, 255, 255, .6);
	padding-right: 5px;
	padding-left: 5px;
}

//Provides the transparent white background behind paragraph text on the home, about, and call pages
 .about, .callText {
	background: rgba(255, 255, 255, .6);
	padding-right: 5px;
	padding-left: 5px;
}

//for the About Teen Link page
.teenLinkLogo {
	float: left;
	padding: 5px 10px 5px 5px;
}


// -------------------- This section is geared toward the resource items within a carousel ------------------------------
// .resourceContainer {
// 	background: rgba(255, 255, 255, .6);
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	left: 0;
	
// }

// .resource-agency-name {
// 	font-size: 22px;
// 	font-weight: bold;
// 	margin-left: 10px;
// 	padding: 3px;
// }

// .resource-address1 {
// 	font-style: italic;
// 	margin-left: 15px;
// 	padding-bottom: 3px;
// }

// .resource-address2 {
// 	font-style: italic;
// 	margin-left: 15px;
// 	padding-bottom: 3px;

// }

// .resource-phone {
// 	margin-left: 15px;
// 	padding-bottom: 3px;

// }

// .resource-service-website {
// 	margin-left: 15px;
// 	margin-right: 15px;
// 	padding-bottom: 3px;
// 	word-wrap: break-word;
// }

// .resource-description {
// 	margin-left: 15px;

// }

// .carResourceHelp {
// 	margin-left: 3px;
// 	width: 15px;
// 	height: auto;
// }







