//variable overrides (these affect the app as a whole):

$base-color: #f4aa00; //The orangey color
$wttft-orange: #f4aa00; 
$wttft-orange-dark: #ef8200; 
$wttft-green: #bed600;
$wttft-green-dark: #77b800;
$wttft-blue: #a0dae8;
$wttft-blue-dark: #6dc6e7;
$active-color: #FFFFFF; //White active colors
$base-gradient: 'flat';


//List overrides (these affect the list views, such as browse/find)

$list-active-color: #fce122; //the yellow color on list itemtap
$list-header-bg-color: $base-color; //the grouping headers -- set to the be identical to the $base-color variable.

$include-border-radius: false;

// Importing our custom web font.
@font-face {
  font-family: 'DIN Bold';
  src: url('../fonts/DINBold.ttf');
}

$font-family: Arial, sans-serif !default;

//-----------------------------------------------Default Sencha Imports Go Here-----------------------------------------------------------------------

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
//@include sencha-form;
//@include sencha-msgbox;



//-----------------------------------------------Custom includes go here-----------------------------------------------------------------------

//imports _buttons.scss file that contains all button component css.
@import 'include/buttons';

//icon images
@include pictos-iconmask('phone1');
@include pictos-iconmask('search2');
@include pictos-iconmask('delete');

//toolbar and tabbar ui's

@include sencha-toolbar-ui('findHelp', $base-color, 'flat');
@include sencha-tabbar-ui('findHelp', $base-color, 'flat', $active-color);

@include sencha-toolbar-ui('callTeenLink', $wttft-green); //darken(#78FF0A, 10), 'matte');
@include sencha-tabbar-ui('callTabBar', $wttft-green, 'flat', $active-color); //darken(#78FF0A, 10), 'matte', $active-color);

@include sencha-toolbar-ui('aboutTeenLink', $wttft-blue);
@include sencha-tabbar-ui('aboutTabBar', $wttft-blue, 'flat', $active-color);





//-----------------------------------------------Custom css goes here-----------------------------------------------------------------------

//set the title in the toolbar above the listview to be a white color with a gray text-shadow color.
.x-toolbar-findHelp .x-title, .x-toolbar-callTeenLink .x-title, .x-toolbar-aboutTeenLink .x-title {
	font-size: 1.6em;
	font-family: 'DIN Bold', sans-serif;
	font-weight: normal;
	line-height: 1.6em;
	color: #fff;
}

.wttft-button-orange .x-button-label,
.x-toolbar-findHelp .x-title {
	font-weight: normal;
	@include text-shadow($wttft-orange-dark 0.1em -0.1em 0.05em);
}

.wttft-button-green .x-button-label,
.x-toolbar-callTeenLink .x-title {
	font-weight: normal;
	@include text-shadow($wttft-green-dark 0.1em -0.1em 0.05em);
}

.wttft-button-blue .x-button-label,
.x-toolbar-aboutTeenLink .x-title {
	font-weight: normal;
	@include text-shadow($wttft-blue-dark 0.1em -0.1em 0.05em);
}

//home screen css -- adding the grid-like background to the panel !important because some responsive layouts override this override..
//  {
// 	background: url("../images/wttft-homescreen-large.png") no-repeat center !important;
// }

//applies the gridlike background to the about and call pages
.homePanel, .aboutPanel, .callPanel, .topicPanel, .resourcePanel {
	background: url("../images/background.png") no-repeat center;
	@include background-size(cover);
}

//The WHERE to TURN for TEENS text on the home page
.homePanel .x-html h1, .homeTitlePanel {
	color: #993f98;
	font-size: 45px;
	font-weight: bolder;
	font-family: 'DIN Bold', sans-serif;
	text-align: right;
	text-shadow: 2px 2px 2px black;
	padding-right: 5px;
}

//Provides the transparent white background behind paragraph text on the home
.homeDescription p {
	font-size: 13px;
	text-align: justify;
	background: rgba(255, 255, 255, .6);
	padding-right: 5px;
	padding-left: 5px;
}

//Provides the transparent white background behind paragraph text on the home, about, and call pages
 .about, .callText {
	background: rgba(255, 255, 255, .6);
	padding-right: 5px;
	padding-left: 5px;
}

//for the About Teen Link page
.teenLinkLogo {
	float: left;
	padding: 5px 10px 5px 5px;
}


// -------------------- This section is geared toward the resource items within a carousel ------------------------------
// .resourceContainer {
// 	background: rgba(255, 255, 255, .6);
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	left: 0;
	
// }

// .resource-agency-name {
// 	font-size: 22px;
// 	font-weight: bold;
// 	margin-left: 10px;
// 	padding: 3px;
// }

// .resource-address1 {
// 	font-style: italic;
// 	margin-left: 15px;
// 	padding-bottom: 3px;
// }

// .resource-address2 {
// 	font-style: italic;
// 	margin-left: 15px;
// 	padding-bottom: 3px;

// }

// .resource-phone {
// 	margin-left: 15px;
// 	padding-bottom: 3px;

// }

// .resource-service-website {
// 	margin-left: 15px;
// 	margin-right: 15px;
// 	padding-bottom: 3px;
// 	word-wrap: break-word;
// }

// .resource-description {
// 	margin-left: 15px;

// }

// .carResourceHelp {
// 	margin-left: 3px;
// 	width: 15px;
// 	height: auto;
// }



 



// -------------------------------------- BEWARE ALL YE WHO ENTER HERE ---------------------------------
// ------------------------------------ MYTHICAL BEASTS BEYOND THIS POINT ------------------------------
// -------------- (aka I got tired of sass and good coding style the night before capstone) ------------


// ---tabbars and toolbars----

.x-toolbar-findHelp.x-docked-top,
.findHelp .x-list-header {
	border-color: $wttft-orange-dark;
}

.x-toolbar-callTeenLink.x-docked-top {
	border-color: $wttft-green-dark;
}

.x-toolbar-aboutTeenLink.x-docked-top {
	border-color: $wttft-blue-dark;
}

.findHelp .x-list-header {
	color: #fff;
	@include text-shadow($wttft-orange-dark 0.2em -0.2em 0.1em);
}

.x-tabbar.x-docked-bottom .x-tab {
	color: #fff !important;
    padding : 0.5em;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
	margin: 0.2em auto;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-label {
    display : none;
}

.x-tabbar-findHelp.x-docked-bottom .x-tab-active {
	@include background-image(radial-gradient(color-stops($wttft-orange 40%, $wttft-orange-dark), center center));
}

.x-tabbar-callTabBar.x-docked-bottom .x-tab-active {
	@include background-image(radial-gradient(color-stops($wttft-green 40%, $wttft-green-dark), center center));
}

.x-tabbar-aboutTabBar.x-docked-bottom .x-tab-active,
.x-tabbar-aboutTabBar.x-docked-top .x-tab-active {
	color: #fff;
	@include background-image(radial-gradient(color-stops($wttft-blue 40%, $wttft-blue-dark), center center));
}

.x-tabbar-aboutTabBar.x-docked-top .x-tab {
	padding: 0.7em 0.8em;
	height: 2.6em;
}

.x-toolbar-findHelp .x-button {
	background-color: $wttft-orange;
	border-color: $wttft-orange-dark;
}

#searchBar {
	background: $wttft-orange-dark;
}

.x-toolbar-findHelp .x-button.x-button-pressing {
	@include background-image(radial-gradient(color-stops($wttft-orange 40%, $wttft-orange-dark), center center));
}

.x-toolbar-findHelp .x-button.x-button-back:before, .x-toolbar-findHelp .x-button.x-button-forward:before, .x-toolbar .x-toolbar-findHelp .x-button.x-button-back:before, .x-toolbar .x-toolbar-findHelp .x-button.x-button-forward:before, .x-toolbar-findHelp .x-field-select .x-component-outer.x-button-back:before, .x-toolbar-findHelp .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar .x-toolbar-findHelp .x-field-select .x-component-outer.x-button-back:before, .x-toolbar .x-toolbar-findHelp .x-field-select .x-component-outer.x-button-forward:before, .x-toolbar-findHelp .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar-findHelp .x-field-select .x-component-outer:before.x-button-forward:before, .x-toolbar .x-toolbar-findHelp .x-field-select .x-component-outer:before.x-button-back:before, .x-toolbar .x-toolbar-findHelp .x-field-select .x-component-outer:before.x-button-forward:before {
	background: $wttft-orange-dark;
}

.x-button-forward:before, .x-button-forward:after, .x-button-back:before, .x-button-back:after {
	background: $wttft-orange-dark;
}

// ---- content page stuff ----

.callPanel .x-button .x-button-icon {
	width: 3em;
	height: 3em;
	-webkit-mask-size: 3em;
	background-color: #fff;
}

#topicCounter,
#resourceCounter {
	color: #fff;
}

h1, h2, h3 {
	font-family: 'DIN Bold';
	font-weight: normal;
}

div.quote {
	background: rgba(252, 225, 35, .7);
	margin: 0 -300px;
	padding: 10px 0;
}

div.quote p {
	width: 300px;
	margin: 0 auto;
}

div.content {
	background: rgba(255, 255, 255, .6);
	padding: 15px;
}

.topicPanel .x-button {
	background: #17bcfa;
	border-color: #00aeef;
	color: #fff;
}

.topicPanel .x-button.x-button-pressing {
	@include background-image(radial-gradient(color-stops(#17bcfa 40%, #00aeef), center center));
}