//variable overrides (these affect the app as a whole):

$base-color: #ffb300; //The orangey color
$active-color: #FFFFFF; //White active colors

//List overrides (these affect the list views, such as browse/find)

$list-active-color: #fce122; //the yellow color on list itemtap
$list-header-bg-color: $base-color; //the grouping headers -- set to the be identical to the $base-color variable.



//-----------------------------------------------Default Sencha Imports Go Here-----------------------------------------------------------------------

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;



//-----------------------------------------------Custom includes go here-----------------------------------------------------------------------

//the imports the _buttons.scss file that contains all button component css.
@import 'include/buttons';





//-----------------------------------------------Custom css goes here-----------------------------------------------------------------------

//set the title in the toolbar above the listview to be a white color with a gray text-shadow color.
.x-toolbar-dark .x-title {
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 -0.08em 0;
}

//home screen css -- adding the grid-like background to the panel !important because some responsive layouts override this override..
.homePanel {
	background: url("../images/wttft-homescreen-large.png") no-repeat center !important;
}

.homePanel .x-html h1, .homeTitlePanel {
	color: #993f98;
	font-size: 45px;
	font-weight: bolder;
	text-align: right;
	text-shadow: 2px 2px 2px black;
	padding-right: 5px;
}

.homeDescription {
	font-size: 12px;
	text-align: justify;
	background: rgba(255, 255, 255, .6);

}










